   .dark{
                background-color:Black;
                color:white;
       }
  .light {
                background-color:white;
                          color:black;          
         }